<footer class="conatainer-fluid">
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
			<h2 id="footer_title">NAVEGACION</h2>
			<li><a href="">INICIO</a></li>
			<li><a href="">PRODUCTOS</a></li>
			<li><a href="">CONTACTOS</a></li>
			<li><a href="">PREGUNTAS FRECUENTES</a></li>
			<li><a href="">MI CUENTA</a></li>
		</div>

		<div class="col-12 col-md-6 col-lg-3 contactos">
			<h2 id="footer_title">CONTACTOS</h2>
			<li>
				<a href=""><i class="fab fa-whatsapp"></i>1100000000</a>
			</li>
			<li>
				<a href=""><i class="fas fa-phone"></i>(011)1500000000</a>
			</li>
			<li>
				<a href=""><i class="far fa-envelope"></i>ejemplo@gmail.com</a>
			</li>
		</div>

		<div class="col-12 col-md-6 col-lg-3">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d841742.3440867211!2d-58.506395042700184!3d-34.50146374504295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1596893234208!5m2!1ses-419!2sar"
				class="map"
			></iframe>
		</div>

		<div class="col-12 col-md-6 col-lg-3 redes">
			<h2 id="footer_title">SEGUINOS</h2>
			<a
				href="https://www.facebook.com/dulceazalea/?ref=page_internal"
				target="_blank"
				><i class="fab fa-facebook-square" id="icons__footer"></i
			></a>
			<a href="https://www.instagram.com/dulceazaleaeventos/" target="_blank"
				><i class="fab fa-instagram" id="icons__footer"></i
			></a>
		</div>

		<div class="col-12 pagos">
			<h2 id="footer_title">MEDIOS DE PAGO</h2>
			<img
				src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png"
				data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png"
				class="icon-logo lazyloaded"
				alt="visa"
			/>
			<img
				src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png"
				data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png"
				class="icon-logo lazyloaded"
				alt="mastercard"
			/>
			<img
				src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png"
				data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png"
				class="icon-logo lazyloaded"
				alt="amex"
			/>
			<img
				src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png"
				data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png"
				class="icon-logo lazyloaded"
				alt="ar_tarjeta-naranja"
			/>
			<img
				src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png"
				data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png"
				class="icon-logo lazyloaded"
				alt="mercadopago"
			/>
			<img
				src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png"
				data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png"
				class="icon-logo lazyloaded"
				alt="pagofacil"
			/>
			<img
				src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png"
				data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png"
				class="icon-logo lazyloaded"
				alt="rapipago"
			/>
		</div>

		<div class="col-12">
			<h2 id="derechos">
				©Copyright Dulce Azalea - 2020, Todos los derechos reservados
			</h2>
		</div>
	</div>
</footer>

<script
	src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"
></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"
></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
	integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
	crossorigin="anonymous"
></script>
