<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>

    <div>
      <h1 class="h2_titulo">Esta página no existe!</h1>
      <form action="/" class="form__reg">
        <button type="submit" class="btn btn-primary btn-block" id="boton">
          Volver al inicio
        </button>
        <!-- Aparentemente sólo funciona cuando se clickea sobre el texto blanco -->
      </form>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
