<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>

    <div>
      <h1>Esta página no existe!</h1>
      <form action="" class="form__reg">
        <button class="btn btn-primary btn-block" id="boton"><a href="/" style="color: white;">Volver al inicio</a></button> <!-- Aparentemente sólo funciona cuando se clickea sobre el texto blanco -->
      </form>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>>