<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dulce Azalea</title>

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
			integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="../public/stylesheets/productsDetail.css" />
	</head>
	<body>
		<header class="container-fluid">
			<div class="container">
				<div class="row">
					<!-- logo -->
					<div class="col-5 col-md-2 col-lg-2 logo">
						<a href="home.html"
						><img src="../public/img/logo-mercado-liebre.svg" alt="logo"/></a>
					</div>

					<!--barra de busqueda-->
					<div class="col-7 col-md-6 col-lg-6">
						<form action="" method="get" class="search-form">
							<input
								type="text"
								name="search"
								placeholder="¿Qué estás buscando?"
								class="search-form_input"
							/>
							<button type="submit" class="search-form_button">
							<i class="fas fa-search"></i>
							</button>
						</form>
					</div>
				</div>
				<div class="col-12 user">
					<li>
						<a href=" "><i class="fas fa-comments">Contacto</i></a>
					</li>
					<li>	
						<a href="productCart.html"><i class="fas fa-shopping-cart">Carrito</i></a>
					</li>
					<li>
						<a href=" "><a href="register.html"><i class="fas fa-user"></i></a>Ingrasar</i></a>
					</li>
				</div>
			</div>
		</header>
		<!-- fin del header -->

    <div class="container ">
      <section>
        <div class="row productDetail">
          <div class="col-12 col-lg-7">
            <figure>
              <img src="../public/img/cat2.jpg" alt="">
            </figure>
          </div>
          <div class="col-12 col-lg-5">
            <h2>
              NOMBRE DEL PRODUCTO
            </h2>
            <h2>
              $0000
            </h2>
            <form action="">
              <input type="number" class="form-control js-quantity-input form-control-inline" autocorrect="off" autocapitalize="off" name="quantity" value="1" min="1" aria-label="Cambiar cantidad">
              <h3>18 cuotas de $17,41</h3>
              <ul class="icon">
                <li><i class="fab fa-cc-mastercard" id="icons__footer"></i></li>
                <li><i class="fab fa-cc-amex" id="icons__footer"></i></li>
                <li><i class="fas fa-money-check-alt" id="icons__footer"></i></li>
              </ul>
              <input type="button" id="boton" value="AGREGAR AL CARRITO">    
            </form>
          </div>
        </div>

        <div class="row descripcion"> 
          <div class="col-12">
            <h2>
              Lorem ipsum dolor sit amet
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, esse. Harum, explicabo. Alias quas dolor aspernatur cum officia quasi ex. Facilis necessitatibus officiis natus voluptatem ipsam quos illo vero nam?
            </p>
          </div>
        </div>
      </div> 
      </section>
    </div>
		
		<%- include('partials/footer') %>
	</body>
</html>
