<!DOCTYPE html>
<html lang="es">
	<%- include('partials/head') %>
	<body>
		<%- include('partials/header') %>

		<section class="container formularioCarga" >
			<h2>
				Prublicar Producto
			</h2>
			<div class="row"id="form__create">
				<div
					class="col-12 col-sm-12 col-md-6 col-lg-6 align-items-center justify-content-center vistaPrevia"
				>
					<img
						src="/img/weebly_image_sample.png"
						class="image-fluid"
						alt="Responsive image"
					/>
					<form method="POST" action="" enctype="multipart/form-data">
						<label for="img">Select image:</label>
						<input type="file" id="img" name="img" accept="image/*" />
					</form>
				</div>
				<div
					class="col-12 col-sm-12 col-md-6 col-lg-6 align-items-center justify-content-center formularioCarga"
				>
					<form action="validar.php" method="POST">
						<ul>
							<li>
								<p>Nombre del producto:</p>
								<textarea
									name="nombreProducto"
									id=""
									cols="30"
									rows="1"
								></textarea>
							</li>
							<li>
								<p>Descripción:</p>
								<textarea
									name="descripcion"
									id=""
									cols="30"
									rows="4"
								></textarea>
							</li>
							<li>
								<p>Categoria:</p>
								<select name="Category" id="Category">
									<option value="p1">Producto1</option>
								</select>
							</li>
							<li>
								<p>Color</p>
									<input type="text" />
								</select>
							</li>
							<li>
								<p>Precio:</p>
								<input type="number" />
							</li>
						</ul>
						<button type="submit">Cargar Producto</button>
						<button type="reset">Borrar Formulario</button>
					</form>
				</div>
			</div>
		</section>

		<%- include('partials/footer') %>
	</body>
</html>
