<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>
    <!-- fin del header -->
    <!-- <h2>carrito</h2> -->
    <div class="container">
      <section>
        <h2>Carrito de Productos</h2>
        <div class="row">
          <div class="products__cart">
            <form class="col-12 col-lg-7">
              <div class="Articulo">
                <div class="col-4 imagen">
                  <img src="/img/products/img-prod1.jpg" alt="" />
                </div>
                <div class="col-9">
                  <h3>Producto nombre</h3>
                  <div>
                    <span class="precio-unitario">$30000 c/u</span>
                    <span class="cantidad">
                      <input
                        type="number"
                        class="number-spinner"
                        value="1"
                        min="1"
                        max="100"
                      />
                    </span>
                    <a href="" style="margin-left: 10px"
                      ><i class="fas fa-trash"></i
                    ></a>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="products__cart__venta">
            <!-- style="width: 100%" -->
            <form class="col-12 col-lg-5">
              <!-- PAGO -->
              <div class="pagar">
                <div class="subtotal">
                  <h5>Subtotal</h5>
                  <span>$590</span>
                </div>
                <div class="costo-envio">
                  <h5>Costo de envío</h5>
                  <span>$350</span>
                </div>
                <div class="total">
                  <h5>TOTAL</h5>
                  <span>$940</span>
                </div>
                <button type="submit">PAGAR</button>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3>
              <a href="/users/register">Registrarse</a> o
              <a href="/users/login">Iniciar sesión</a>
            </h3>
          </div>
        </div>
      </section>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
