<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Añadir producto</title>
		<!-- ETIQUETAS LINK PARA VINCULAR CON FONTAWESOME Y BOOTSTRAP-->
		<script
			src="https://kit.fontawesome.com/c20ccd4767.js"
			crossorigin="anonymous"
		></script>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
			integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="../public/stylesheets/productAdd.css" />
	</head>
	<body>
		<header class="container-fluid">
			<div class="row align-items-center justify-content-around">
				<div class="col-auto col-sm-2 col-md-2 col-lg-2 logo">
					<a href=""
						><img
							src="../public/img/weebly_image_sample.png"
							alt="Responsive image"
							class="img-fluid"
					/></a>
				</div>
				<div class="col-2 col-sm-2 col-md-2 col-lg-2 button">
					<button type="button" class="btn btn-link">Categorías</button>
				</div>
				<div class="col-auto col-sm-5 col-md-auto col-lg-auto search">
					<form action="">
						<input type="text " placeholder="Buscar..." class="buscar" />
						<button type="button" class="icono-busqueda">
							<i class="fas fa-search"></i>
						</button>
					</form>
				</div>
				<div class="col-2 col-sm-auto col-md-3 col-lg-3 nav">
					<nav class="navbar navbar-expand-lg navbar-light">
						<a class="navbar-brand" href="#"></a>
						<button
							class="navbar-toggler"
							type="button"
							data-toggle="collapse"
							data-target="#navbarNavAltMarkup"
							aria-controls="navbarNavAltMarkup"
							aria-expanded="false"
							aria-label="Toggle navigation"
						>
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
							<div class="navbar-nav">
								<a class="nav-item nav-link active" href="#"
									><i class="fas fa-user-circle"></i> Cuenta</a
								>
								<a class="nav-item nav-link active" href="#"
									><i class="fas fa-shopping-cart"></i> Carrito</a
								>
								<a class="nav-item nav-link active" href="#"
									><i class="fas fa-question-circle"></i> Ayuda</a
								>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</header>
		<section class="container formularioCarga">
			<div class="row">
				<div
					class="col-12 col-sm-12 col-md-6 col-lg-6 align-items-center justify-content-center vistaPrevia"
				>
					<img
						src="../public/img/weebly_image_sample.png"
						class="image-fluid"
						alt="Responsive image"
					/>
					<form action="/action_page.php">
						<label for="img">Select image:</label>
						<input type="file" id="img" name="img" accept="image/*" />
					</form>
				</div>
				<div
					class="col-12 col-sm-12 col-md-6 col-lg-6 align-items-center justify-content-center formularioCarga"
				>
					<form action="validar.php" method="POST">
						<ul>
							<li>
								<p>Nombre del producto:</p>
								<textarea
									name="nombreProducto"
									id=""
									cols="30"
									rows="1"
								></textarea>
							</li>
							<li>
								<p>Descripción:</p>
								<textarea
									name="descripcion"
									id=""
									cols="30"
									rows="4"
								></textarea>
							</li>
							<li>
								<p>Producto:</p>
								<select name="producto" id="">
									<option value="p1">Producto1</option>
									<option value="p2">Producto2</option>
									<option value="p3">Producto3</option>
									<option value="p4">Producto4</option>
								</select>
							</li>
							<li>
								<p>Tipo:</p>
								<select name="tipo" id="">
									<option value="ti1">Tipo1</option>
									<option value="ti2">Tipo2</option>
									<option value="ti3">Tipo3</option>
									<option value="ti4">Tipo4</option>
								</select>
							</li>
							<li>
								<p>Tema:</p>
								<select name="tema" id="">
									<option value="te1">Tema1</option>
									<option value="te2">Tema2</option>
									<option value="te3">Tema3</option>
									<option value="te4">Tema4</option>
								</select>
							</li>
							<li>
								<p>Evento</p>
								<select name="evento" id="">
									<option value="e1">Evento1</option>
									<option value="e2">Evento2</option>
									<option value="e3">Evento3</option>
									<option value="e4">Evento4</option>
								</select>
							</li>
							<li>
								<p>Color</p>
								<select name="color" id="">
									<option value="c1">Color1</option>
									<option value="c2">Color2</option>
									<option value="c3">Color3</option>
									<option value="c4">Color4</option>
								</select>
							</li>
							<li>
								<p>Precio:</p>
								<input type="number" />
							</li>
							<li>
								<p>Stock:</p>
								<input type="number" name="" id="" />
							</li>
						</ul>
						<button type="submit">Cargar Producto</button>
						<button type="reset">Borrar Formulario</button>
					</form>
				</div>
			</div>
		</section>

		<%- include('partials/footer') %>
	</body>
</html>
