<!DOCTYPE html>
<html lang="es">
	<%- include('partials/head') %>

	<body>
		<%- include('partials/header') %>
		<!-- fin del header -->

		<section class="container">
			<div class="grid-container">
				<div>PRODUCTOS</div>
				<div>CANTIDAD</div>
				<div>PRECIO</div>
				<div><br /></div>
				<div>Producto1</div>
				<div><input type="number" name="" id="unidades" min="1" /></div>
				<div>$100</div>
				<div><i class="fas fa-trash"></i></div>
				<div>Producto2</div>
				<div><input type="number" name="" id="unidades" min="1" /></div>
				<div>$200</div>
				<div><i class="fas fa-trash"></i></div>
				<div>Producto3</div>
				<div><input type="number" name="" id="unidades" min="1" /></div>
				<div>$300</div>
				<div><i class="fas fa-trash"></i></div>
			</div>
			<div class="row verMas">
				<div class="col-7">
					<a href="">Ver más productos</a>
				</div>
				<div class="col-5 total">
					<h2><i class="fas fa-shopping-bag"></i>Total: $600</h2>
				</div>
			</div>
			<div class="row inferior justify-content-center">
				<div class="col-lg-7 login">
					<form>
						<h5>Acceder</h5>
						<label for="email">Email</label><br />
						<input
							type="email"
							id="email"
							name="email"
							class="input"
						/><br /><br />
						<label for="password">Contraseña</label><br />
						<input
							type="password"
							id="password"
							name="password"
							class="input"
						/><br /><br />
						<input type="submit" value="Acceder" class="id" /><br />
						<h5>¿Eres Nuevo?</h5>
						<input type="submit" value="Crear una cuenta" class="id" />
					</form>
				</div>
			</div>
		</section>

		<%- include('partials/footer') %>
	</body>
</html>
