<!DOCTYPE html>
<html lang="es">
    <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dulce Azalea</title>

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
			integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="../stylesheets/style.css" />
	</head>
    <body>
        <!-- ENCABEZADO -->
		<header class="container-fluid">
			<div class="row align-items-center justify-content-around">
				<div class="col-auto col-sm-2 col-md-2 col-lg-2 logo">
					<a href=""
						><img
							src="../img/weebly_image_sample.png"
							alt="Responsive image"
							class="img-fluid"
					/></a>
				</div>
				<div class="col-2 col-sm-2 col-md-2 col-lg-2 button">
					<button type="button" class="btn btn-link">Categorías</button>
				</div>
				<div class="col-auto col-sm-5 col-md-auto col-lg-auto search">
					<form action="">
						<input type="text " placeholder="Buscar..." class="buscar" />
						<button type="button" class="icono-busqueda">
							<i class="fas fa-search"></i>
						</button>
					</form>
				</div>
				<div class="col-2 col-sm-auto col-md-3 col-lg-3 nav">
					<nav class="navbar navbar-expand-lg navbar-light">
						<a class="navbar-brand" href="#"></a>
						<button
							class="navbar-toggler"
							type="button"
							data-toggle="collapse"
							data-target="#navbarNavAltMarkup"
							aria-controls="navbarNavAltMarkup"
							aria-expanded="false"
							aria-label="Toggle navigation"
						>
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
							<div class="navbar-nav">
								<a class="nav-item nav-link active" href="#"
									><i class="fas fa-user-circle"></i> Cuenta</a
								>
								<a class="nav-item nav-link active" href="#"
									><i class="fas fa-shopping-cart"></i> Carrito</a
								>
								<a class="nav-item nav-link active" href="#"
									><i class="fas fa-question-circle"></i> Ayuda</a
								>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</header>
        <!-- ENCABEZADO -->
        
        
        
        
        <div class="container sections">
            <section>
				<div class="row articulos">
					<div class="col-12 titulo">
						<h2>Ofertas</h2>
					</div>

					<% productos.forEach(producto => { %>
					<div class="col-12 col-md-6 col-lg-3">
						<div class="productos">
							<figure>
								<img
									src="/img/products/<%- producto.image %> "
									alt=""
									class="figure"
								/>
							</figure>
							<article>
								<!--precio-->
								<h2>
									$ <%= producto.price %>
								</h2>
								<!--nombre del producto ??-->
								<p>
									<%= producto.name %>
								</p>
							</article>
						</div>
					</div>
					<% }) %>
				</div>
			</section>
        </div>
        
        
        
        <!-- PIE DE PÁGINA -->
		<footer class="conatainer-fluid">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-3">
					<h2 id="footer_title">NAVEGACION</h2>
					<li><a href="">INICIO</a></li>
					<li><a href="">PRODUCTOS</a></li>
					<li><a href="">CONTACTOS</a></li>
					<li><a href="">PREGUNTAS FRECUENTES</a></li>
					<li><a href="">MI CUENTA</a></li>
				</div>
				<div class="col-12 col-md-6 col-lg-3 contactos">
					<h2 id="footer_title">CONTACTOS</h2>
					<li>
						<a href=""><i class="fab fa-whatsapp"></i>1100000000</a>
					</li>
					<li>
						<a href=""><i class="fas fa-phone"></i>(011)1500000000</a>
					</li>
					<li>
						<a href=""><i class="far fa-envelope"></i>ejemplo@gmail.com</a>
					</li>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d841742.3440867211!2d-58.506395042700184!3d-34.50146374504295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1596893234208!5m2!1ses-419!2sar"
						class="map"
					></iframe>
				</div>
				<div class="col-12 col-md-6 col-lg-3 redes">
					<h2 id="footer_title">SEGUINOS</h2>
					<i class="fab fa-facebook-square" id="icons__footer"></i>
					<i class="fab fa-instagram" id="icons__footer"></i>
				</div>
				<div class="col-12 pagos">
					<h2 id="footer_title">MEDIOS DE PAGO</h2>
					<img
						src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png"
						data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png"
						class="icon-logo lazyloaded"
						alt="visa"
					/>
					<img
						src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png"
						data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png"
						class="icon-logo lazyloaded"
						alt="mastercard"
					/>
					<img
						src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png"
						data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png"
						class="icon-logo lazyloaded"
						alt="amex"
					/>
					<img
						src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png"
						data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png"
						class="icon-logo lazyloaded"
						alt="ar_tarjeta-naranja"
					/>
					<img
						src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png"
						data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png"
						class="icon-logo lazyloaded"
						alt="mercadopago"
					/>
					<img
						src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png"
						data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png"
						class="icon-logo lazyloaded"
						alt="pagofacil"
					/>
					<img
						src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png"
						data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png"
						class="icon-logo lazyloaded"
						alt="rapipago"
					/>
				</div>
				<div class="col-12">
					<h2 id="derechos">
						©Copyright Dulce Azalea - 2020, Todos los derechos reservados
					</h2>
				</div>
			</div>
		</footer>
		<!-- PIE DE PÁGINA -->

    </body>
</html>