<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <div class="container-fluid sections">
      <section>
        <h1>Perfil</h1>
        <div class="row articulos">
          <div class="col-12 col-sm-6 col-md-4 imagen_profile">
            <img src="/img/users/avatar-1600436805565.jpg" alt="" />
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <h2>Franco</h2>
          </div>
        </div>
      </section>
      <section>
        <div class="row articulos">
          <h1>Articulos Publicados</h1>
        </div>
      </section>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
