<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <div class="container sections">
      <section>
        <div class="row articulos">
          <h1>profile</h1>
        </div>
      </section>
      <section>
        <div class="row articulos">
          <h1>Articulos Publicados</h1>
        </div>
      </section>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
