.products__cart {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-rosa_claro);
  border-radius: 25px;
  margin: 5px 0px;
  padding-bottom: 10px;
  padding-top: 5px;
}

/* .products__cart form {
  width: 100%;
} */
.products__cart .Articulo {
  display: flex;
}
.products__cart .Articulo .imagen {
  width: 40%;
  padding: 5px;
}
.products__cart .Articulo .imagen img {
  width: 100%;
  border-radius: 10px;
}
.products__cart .Articulo form .product_cart_delete {
  margin-left: 5px;
}
.products__cart__venta {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-rosa_claro);
  width: 100%;
  border-radius: 25px;
  margin: 5px 0px;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
}
