/* 
+++++++++++++++++++++++++++++++++++++++++++++++
PRODUCTADD Y PRODUCTEDIT
+++++++++++++++++++++++++++++++++++++++++++++++
*/

.vistaPrevia,
.formularioCarga {
	margin-top: 20px;
	margin-bottom: 20px;
}
#form__create {
	background-color: var(--color-rosa_claro);
	border-radius: 25px;
	margin: 30px auto;
}
p {
	margin-bottom: 0;
	margin-top: 0;
	font-weight: bold;
}
.image-fluid {
	width: 100%;
}
