* {
	box-sizing: border-box;
}
:root {
	--color-rosa: #fda8bb;
	--color-azul: #365e8f;
	--color-celeste: #cae8ff;
}

a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: white;
	text-decoration: none;
}
li {
	list-style: none;
}

footer {
	background-color: var(--color-celeste);
	text-align: center;
}
footer #footer_title {
	margin-top: 10px;
}
footer .contactos,
.redes {
	padding-bottom: 10px;
}
footer .pagos {
	border-top: solid #000000 1px;
	padding-bottom: 10px;
}
footer .map {
	size: 250px;
	margin-top: 10px;
	border: 10px solid white;
}
footer #icons__footer {
	font-size: 40px;
}
footer img {
	height: 40px;
	border-radius: 5px;
	margin-bottom: 5px;
}
footer #derechos {
	background-color: var(--color-azul);
	font-size: 15px;
}
@media (min-width: 992px) {
	footer .map {
		width: 100%;
	}
}
