.productDetail {
	margin: 30px 5px 40px;
	padding: 20px;
	background-color: var(--color-rosa_claro);
	border-radius: 25px;
}
#imagen__product {
	width: 100%;
}
form .icon {
	font-size: 40px;
}
form ul li {
	display: inline;
}
form #boton {
	padding: 6px 0px;
	width: 100%;
	margin: auto;
	border-radius: 10px;
	background-color: var(--color-azul);
}
.descripcion {
	border-top: solid #000000 1px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
}
.pagos__detail img {
	height: 40px;
	border-radius: 5px;
	margin-bottom: 5px;
}
.pagos__detail {
	padding-bottom: 10px;
}
/* PIE DE PAGINA */

@media (min-width: 992px) {
	form #boton {
		width: 302px;
	}
}
