.sections .articulos .imagen_profile {
  display: flex;
  margin-bottom: 15px;
}
.sections .articulos .imagen_profile img {
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border: 7px solid var(--color-rosa);
}
.sections .articulos .user_info {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .sections .articulos .imagen_profile img {
    width: 350px;
    height: 350px;
    border-radius: 200px;
  }
  .sections .articulos .user_info h2 {
    font-size: 50px;
  }
}
